useDynLib(regmed, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo, armadillo_version)
importFrom("igraph", "graph_from_edgelist", "vertex_attr")
importFrom("lavaan", "parameterEstimates", "sem")
#import(lavaan)
import(graphics)
import(methods)
importFrom("stats", "lm", "residuals", "var", "cor")
import(glasso)
import(knitr)
export(regmed.fit, regmed.prefilter, regmed.grid, regmed.grid.bestfit)
export(summary.regmed, plot.regmed.grid, print.regmed, print.regmed.grid)
export(mvregmed.fit, mvregmed.grid, mvregmed.grid.bestfit)
export(regmed.edges, plot.regmed.edges, regmed.lavaan.dat, regmed.lavaan.model)
export(mvregmed.lavaan.model, mvregmed.lavaan.dat)
export(mvregmed.edges, regmed.edges)
export(summary.mvregmed.grid, summary.mvregmed, plot.mvregmed.grid, plot.mvregmed.edges)
export(summary.lavaan)
S3method(print, regmed)
S3method(plot, regmed.edges)
S3method(plot, mvregmed.edges)
S3method(print, regmed.grid)
S3method(summary, regmed)
#S3method(plot, regmed)
S3method(plot, regmed.grid)
S3method(plot, mvregmed.grid)
S3method(summary, lavaan)
S3method(summary, mvregmed)
S3method(summary, mvregmed.grid)
